[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"structlog[dev]" = "*"
awscli-local = "*"
check-manifest = "*"
factory-boy = "*"
isort = "*"
mock = "*"
pyroma = "*"
pytest-cov = "*"
pytest-faker = "*"
pytest-flask = "*"
pytest-mock = "*"
sphinx = "*"

[requires]
python_version = "3.6"
